cache_size_mb: 0

# Database configuration. This can also be a list of PG configs.
postgres:
  # Database connection string
  connection_string: ${DATABASE_URL}

  # # Maximum Postgres connections pool size [default: 20]
  # pool_size: 20

  # # Limit the number of table geo features included in a tile. Unlimited by default.
  # max_feature_count: 1000

  # # Control the automatic generation of bounds for spatial tables [default: quick]
  # # 'calc' - compute table geometry bounds on startup.
  # # 'quick' - same as 'calc', but the calculation will be aborted if it takes more than 5 seconds.
  # # 'skip' - do not compute table geometry bounds on startup.
  auto_bounds: skip

  # # Enable automatic discovery of tables and functions.
  # # You may set this to `false` to disable.
  auto_publish: false

  # No tables, see function sources below
  tables: {}

  # Function sources
  functions:

    # --- Shared --- #

    railway_line_high:
      schema: public
      function: railway_line_high
      minzoom: 7

    railway_text_km:
      schema: public
      function: railway_text_km
      minzoom: 10

    # --- Standard --- #

    standard_railway_line_low:
      schema: public
      function: standard_railway_line_low
      maxzoom: 7

    standard_railway_text_stations_low:
      schema: public
      function: standard_railway_text_stations_low
      minzoom: 4
      maxzoom: 7

    standard_railway_text_stations_med:
      schema: public
      function: standard_railway_text_stations_med
      minzoom: 7
      maxzoom: 8

    standard_railway_turntables:
      schema: public
      function: standard_railway_turntables
      minzoom: 10

    standard_railway_text_stations:
      schema: public
      function: standard_railway_text_stations
      minzoom: 8

    standard_railway_grouped_stations:
      schema: public
      function: standard_railway_grouped_stations
      minzoom: 13

    standard_railway_grouped_station_areas:
      schema: public
      function: standard_railway_grouped_station_areas
      minzoom: 13

    standard_railway_symbols:
      schema: public
      function: standard_railway_symbols
      minzoom: 10

    standard_station_entrances:
      schema: public
      function: standard_station_entrances
      minzoom: 16

    standard_railway_platforms:
      schema: public
      function: standard_railway_platforms
      minzoom: 15

    standard_railway_stop_positions:
      schema: public
      function: standard_railway_stop_positions
      minzoom: 16

    standard_railway_platform_edges:
      schema: public
      function: standard_railway_platform_edges
      minzoom: 17

    standard_railway_switch_ref:
      schema: public
      function: standard_railway_switch_ref
      minzoom: 17

    # --- Speed --- #

    speed_railway_line_low:
      schema: public
      function: speed_railway_line_low
      maxzoom: 7

    speed_railway_signals:
      schema: public
      function: speed_railway_signals
      minzoom: 13

    # --- Signals --- #

    signals_railway_line_low:
      schema: public
      function: signals_railway_line_low
      maxzoom: 7

    signals_signal_boxes:
      schema: public
      function: signals_signal_boxes
      minzoom: 8
      maxzoom: 14

    signals_railway_signals:
      schema: public
      function: signals_railway_signals
      minzoom: 13

    # --- Electrification --- #

    electrification_railway_line_low:
      schema: public
      function: electrification_railway_line_low
      maxzoom: 7

    electrification_signals:
      schema: public
      function: electrification_signals
      minzoom: 13

    electrification_railway_symbols:
      schema: public
      function: electrification_railway_symbols
      minzoom: 13

    electrification_substation:
      schema: public
      function: electrification_substation
      minzoom: 13

    electrification_catenary:
      schema: public
      function: electrification_catenary
      minzoom: 14

    # --- Gauge --- #

    gauge_railway_line_low:
      schema: public
      function: gauge_railway_line_low
      maxzoom: 7

    # --- Loading gauge --- #

    loading_gauge_railway_line_low:
      schema: public
      function: loading_gauge_railway_line_low
      maxzoom: 7

    # --- Track class --- #

    track_class_railway_line_low:
      schema: public
      function: track_class_railway_line_low
      maxzoom: 7

    # --- Operator --- #

    operator_railway_line_low:
      schema: public
      function: operator_railway_line_low
      maxzoom: 7

    operator_railway_symbols:
      schema: public
      function: operator_railway_symbols
      minzoom: 13

fonts:
  - /config/fonts
