services:
  db:
    build:
      context: db
    ports:
      - '5432:5432'
    shm_size: 1g
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - PG_WORK_MEM
      - PG_MAINTENANCE_WORK_MEM
      # Custom directory so it is not part of a VOLUME
      - PGDATA=/data/postgresql
      - POSTGRES_DB=gis

  import:
    build:
      dockerfile: import/Dockerfile
    command:
      - import
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./data:/data
    environment:
      - PGHOST=db
      - PGUSER=postgres
      - PG_WORK_MEM
      - PG_MAINTENANCE_WORK_MEM
      - OSM2PGSQL_NUMPROC
      - OSM2PGSQL_DATAFILE

  import-test:
    build:
      dockerfile: import/Dockerfile
      target: test

  data:
    image: openrailwaymap-data
    build:
      context: data
    command:
      - 'sleep'
      - 'inf'

  martin:
    build:
      dockerfile: martin.Dockerfile
    depends_on:
      db:
        condition: service_healthy
      import:
        condition: service_completed_successfully
    environment:
      - DATABASE_URL=postgresql://postgres@db:5432/gis
    ulimits:
      nproc: 65535
      nofile:
        soft: 26677
        hard: 46677
    develop:
      watch:
        - action: rebuild
          path: martin
        - action: rebuild
          path: symbols

  proxy:
    build:
      dockerfile: proxy.Dockerfile
    ports:
      - '8000:8000'
      - '443:443'
    environment:
      TILES_UPSTREAM: martin:3000
      API_UPSTREAM: api:5000
      PUBLIC_PROTOCOL: http
      PUBLIC_HOST: localhost:8000
      NGINX_CACHE_TTL: '0'
      CLIENT_CACHE_TTL_ASSETS_FRESH: '0'
      CLIENT_CACHE_TTL_ASSETS_STALE: '0'
      CLIENT_CACHE_TTL_API_FRESH: '0'
      CLIENT_CACHE_TTL_API_STALE: '0'
      CLIENT_CACHE_TTL_TILES_FRESH: '0'
      CLIENT_CACHE_TTL_TILES_STALE: '0'
    develop:
      watch:
        - action: rebuild
          path: proxy
        - action: rebuild
          path: features

  proxy-test:
    image: ghcr.io/orange-opensource/hurl:6.1.1@sha256:0fafe31238304394bcba7ab49509dcbb4356798b6a99973d41ef722f6cbbb1e9
    depends_on:
      proxy:
        condition: service_healthy
    volumes:
      - ./proxy/test/proxy.hurl:/hurl/proxy.hurl
    command: [
      '--test',
      '--verbose',
      '--variable', 'base_url=http://proxy:8000',
      '/hurl/proxy.hurl'
    ]

  api:
    build:
      context: api
    depends_on:
      db:
        condition: service_healthy
      import:
        condition: service_completed_successfully
    environment:
      - PORT=5000
      - HOST=0.0.0.0
      - POSTGRES_USER=postgres
      - POSTGRES_HOST=db
      - POSTGRES_DB=gis
    ports:
      - '5000:5000'
    develop:
      watch:
        - action: rebuild
          path: api

  api-test:
    image: ghcr.io/orange-opensource/hurl:6.1.1@sha256:0fafe31238304394bcba7ab49509dcbb4356798b6a99973d41ef722f6cbbb1e9
    depends_on:
      api:
        condition: service_healthy
    volumes:
      - ./api/test/api.hurl:/hurl/api.hurl
    command: [
      '--test',
      '--verbose',
      '--variable', 'base_url=http://api:5000/api',
      '/hurl/api.hurl'
    ]
